.feed{
    margin-top: 12px;
    margin-left:133px;
    height:5000px;
    margin-bottom:-10px;
    width:800px;
    background-color:#E7CBCB;
}
.ad{
    margin-left:59px;
    height:300px;
    width:740px;
    object-fit: cover;
}