.sidebar{
    height:570px;
    width:200px;
    margin-top:12px;
    margin-bottom:-8px;
    margin-left:-8px;
    background-color: #99627A;
    position:fixed;
    overflow-y:scroll;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color:#C88EA7;
}
::-webkit-scrollbar-thumb{
    background-color: #7c4f62;
}
.sidebarWrapper{
    margin-top:-13px;
}

.sidebarList, .sidebarFriendList{
    list-style: none;
    margin-left:-40px;
}
.sidebarListItem,.sidebarFriend{
    margin:3px;
    padding:0.2em;
    background-color: #C88EA7;
    font-family: sans-serif;
    align-items: center;
    color:black;
    font-size: 18px;
    justify-content: space-around;
}
.sidebarListItem:hover {
    background-color: #c77297;
    cursor:pointer;
}
a{
    color:black;
    text-decoration: none;
}
.sidebarFriendImg{
    height:40px;
    width:40px;
    object-fit: cover;
    border-radius: 360px;
}
.sidebarHr{
    background-color: #99627A;
}
.sidebarBtn{
    background-color: #C88EA7;
    border-style: none;
    font-size: 18px;
    margin:3px;
    margin-top:-13px;
    height:30px;
    width:188px;
}
.sidebarBtn:hover{
    background-color: #c77297;
    cursor:pointer;
}